{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% form_theme form with ["RithisBECRussiaBundle::form.html.twig"] %}

{% block content %}
    <div>
        <div class="title">Выбор программы обучения<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

        <form action="{{ path("rithis_becrussia_educationcourse_filter") }}" method="post" class="symfony-form">
            {{ form_widget(form) }}
            <button type="submit" class="button">Искать</button>
        </form>

        {% if courses is defined %}
            {% for course in courses %}
                {% include "RithisBECRussiaBundle::course.html.twig" %}
            {% else %}
                <p>
                    {% if similar|length > 0 %}
                        По вашему запросу не найдено ни одной программы обучения,<br>
                        но мы нашли наиболее подходящие вам:
                    {% else %}
                        По вашему запросу не найдено ни одной программы обучения.
                    {% endif %}
                </p>

                {% for course in similar %}
                    {% include "RithisBECRussiaBundle::course.html.twig" %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
