{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <section class="article">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ page.content|raw }}
        </article>
    </section>
{% endblock %}
