{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="title">Онлайн-тестирование<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    <div class="title">{{ result.title }}<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    {{ result.result|raw }}
{% endblock %}
