{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
<section class="article">
    <header>
        <h1>Онлайн-тестирование</h1>
    </header>

    <form action="{{ path("rithis_becrussia_test_submit") }}" method="post">
        {{ form_widget(form) }}

        <p><button type="submit" class="button">Отправить</button></p>
    </form>
</section>
{% endblock %}
