{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <section class="article list">
        <header>
            <h1>Библиотека</h1>
        </header>

        {% for book in category.books %}
            <article class="book">
            <a href="{{ path('sonata_media_download', {'id': book.file.id}) }}"><h3>{{ book.name }}</h3></a>
            <div>{{ book.description }}</div>
            </article>
        {% endfor %}

    </section>
{% endblock %}
