{% if types|length > 0 %}
    <ul class="education-course-types">
        {% for type in types %}
            <li>
                <a href="{{ path("rithis_becrussia_educationcoursetype_get", {slug: type.slug}) }}">{{ type.title }}
                    <small>{{ type.note }}</small>
                </a>
            </li>
        {% endfor %}
    </ul>
<img src="{{ asset("bundles/rithisbecrussia/pict/1x1_w.gif") }}" alt="" border="0" width="100%" height="1"><br>
{% endif %}
