{% if types|length > 0 %}
    <ul class="education-course-types">
        {% for type in types %}
            <li>
                <a href="{{ path("rithis_becrussia_educationcoursetype_get", {slug: type.slug}) }}">{{ type.title }}
                    <small>{{ type.note }}</small>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
