{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="title">Образовательные курсы {{ type.title }}<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"></div>

    <p>{{ type.description }}</p>

    {% for course in courses %}
        {% include "RithisBECRussiaBundle::course.html.twig" %}
    {% endfor %}
{% endblock %}
