{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
<section class="article list list-with-figure education-courses">
    <header>
        <h1>Образовательные курсы <span class="education-courses-title">{{ type.title }}</span></h1>
    </header>

    <p>{{ type.description }}</p>

    {% for course in courses %}
        {% include "RithisBECRussiaBundle::course.html.twig" %}
    {% endfor %}
</section>
{% endblock %}
