@import "mixins";
@import "variables";

.article {
  padding: 10px;

  .article {
    padding: 10px 0;
  }

  > header {
    margin-bottom: 15px;
    border-bottom: 1px solid white;

    @include box-shadow(0 5px 5px -5px rgba(0, 0, 0, .5));

    h1, h2 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 2px solid $red;
      font-size: 16px;
      text-transform: uppercase;
      color: $red;
    }
  }

  footer {
    clear: both;
    margin-top: 25px;
    border-top: 2px solid $red;

    @include box-shadow(0 -5px 5px -5px rgba(0, 0, 0, .5));

    .button {
      float: right;
      position: relative;
      top: -12px;
      margin-right: 10px;
    }
  }
}
