@import "mixins";
@import "variables";

.article {
  padding: 10px;

  .article {
    padding: 10px 0;
  }

  > header {
    margin-bottom: 15px;
    border-bottom: 1px solid white;

    @include box-shadow(0 5px 5px -5px rgba(0, 0, 0, .5));

    h1, h2 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 2px solid $red;
      color: $red;
    }
  }
}
