.book-category, .book {
    border-bottom: 1px solid #AB1118;
}

.library {
    .filtering {
        position: relative;
        top: -26px;
        float: right;
    }

    .library-item {
        padding: 15px 0px 15px 0px;
        border-bottom: 1px solid #AB1118;
    }
}
