@import "mixins";
@import "variables";

nav {
  body > footer & {
    width: $width;
    padding: 10px;

    @include clearfix;
    @include box-shadow(0 0 10px rgba(0, 0, 0, .5));
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      body > footer & {
        float: left;
      }

      a {
        display: block;
        line-height: 30px;
        text-decoration: none;
        font-size: 14px;
        color: white;

        aside.left & {
          padding-left: 75px;
          background-color: $red;
          border-bottom: 1px solid $gray;

          @include box-shadow(inset 0 10px 20px -10px rgba(0, 0, 0, .5));

          &:hover {
            background: white url("/bundles/rithisbecrussia/images/nav-a-hover-background.gif") no-repeat;
            color: $red;

            @include box-shadow(none);
          }
        }

        body > footer & {
          padding: 0 10px;
        }
      }
    }
  }
}

nav.pills {
  margin-bottom: 10px;

  @include clearfix;

  ul {
    li {
      float: left;
      margin-bottom: 5px;

      a, b {
        display: block;
        padding: 5px 15px;
        line-height: 1;
        color: $red;

        @include border-radius(5px);

        &:hover {
          background-color: $pink;
        }
      }
    }
  }
}
