{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block last_poll "" %}

{% block content %}
    <div class="title">Опросы<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    {% for prepared_poll in prepared_polls %}
        <div class="title">{{ prepared_poll.poll.question }}<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

        {% include "RithisBECRussiaBundle::poll.html.twig" with prepared_poll %}
    {% endfor %}
{% endblock %}
