body
{
    margin: 0px;
    padding: 0px;
    background: #ab1118;
}
td, div, font, p, li,body
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 13px;
    color: #555555;
}
a
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 13px;
    color: #AC2226;
}
a:hover
{
    color: #420305;
}
.main_left
{
    background-image: url('../pict/main_left_bg.gif');
    background-position: right;
}
.main_right
{
    background-image: url('../pict/main_right_bg.gif');
    background-position: left;
}
.table_logo
{
    background-image: url('../pict/table_logo_bg.gif');
    font-size: 12px;
    color: #ffffff;
}
.h1_top
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 14px;
    color: #e6b8ba;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px;
    margin:0px;
}
.h2_top
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 12px;
    color: #e6b8ba;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px;
    margin:0px;
}
.a_white
{
    font-size: 11px;
    color: #ffffff;
}
.td_form
{
    background-image: url('../pict/form_bg.gif');
}
.form
{
    background-color : transparent;
    font-family: Arial, Tahoma, Verdana;
    font-size: 14px;
    color: #939393;
    border: 0px;
    width: 100%
}
form
{
    padding: 0px;
    margin:0px;
}
.phone_big
{
    font-family: Times New Roman;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}
.phone_small
{
    font-family: Times New Roman;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.botmenu
{
    background-image: url('../pict/botmenu_bg.gif');
}
.a_botmenu
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.a_botmenu:hover
{
    color: #e6b8ba;
    text-decoration: underline;
}
.menu_pas
{
    background-image: url('../pict/menu_pas_bg.gif');
    background-color: #ab1118;
    background-repeat: repeat-x;
    background-position: top;
}
.a_menu_pas
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.a_menu_pas:hover
{
    color: #e6b8ba;
    text-decoration: underline;
}
.menu_act
{
    background-image: url('../pict/menu_act_bg.gif');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top left;
}
.menu_act_text
{
    background-color: #ffffff;
    font-size: 16px;
    color: #ab1118;
    text-transform: uppercase;
    font-weight: bold;
}
.title
{
    background-image: url('../pict/title_bg.png');
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    font-family: Times New Roman, Arial, Tahoma, Verdana;
    font-size: 16px;
    color: #a31017;
    text-transform: uppercase;
    font-weight: bold;
}
.pict
{
    border: 2px solid #a31017;
}
.news_title
{
    font-family: Times New Roman, Arial, Tahoma, Verdana;
    font-size: 14px;
    color: #a31017;
    text-transform: uppercase;
    font-weight: bold;
}
.news_date
{
    font-size: 12px;
    font-style: italic;
    color: #555555
}
.podr
{
    font-family: Arial, Tahoma, Verdana;
    font-size: 11px;
    color: #AC2226
}
.all
{
    background-image: url('../pict/all_bg.gif');
}
.news_title_fil
{
    font-family: Times New Roman, Arial, Tahoma, Verdana;
    font-size: 12px;
    color: #a31017;
    text-transform: uppercase;
    font-weight: bold;
}
.news_date_fil
{
    font-size: 10px;
    font-style: italic;
    color: #555555
}
.news_text_fil
{
    font-size: 11px;
    color: #555555
}
.vote_text
{
    font-size: 11px;
    color: #555555
}
.town
{
    font-size: 14px;
    color: #ffffff;
}
