{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block education_course_types %}
    {% render "RithisBECRussiaBundle:EducationCourseType:educationCourseTypesBlock" %}
{% endblock %}

{% block content %}
    {% set page = page('mainpage') %}
    {% if page %}
        <section class="article">
            <header>
                <h2>{{ page.title }}</h2>
            </header>

            <article>
                {{ page.content|raw }}
            </article>
        </section>
    {% endif %}

    {% render "RithisBECRussiaBundle:News:centreNewsBlock" %}
{% endblock %}
