{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block content %}
    <section class="article list-with-figure list">
        <header>
            <h1>Школы</h1>
        </header>

        {% for school in schools %}
            <article>
                <figure>
                    {% thumbnail school.image, "medium" %}
                </figure>

                <header>
                    <h2><a href="{{ path("rithis_becrussia_school_get", {slug: school.slug}) }}">{{ school.title }}</a>
                    </h2>
                </header>

                <blockquote>
                    <p>Адрес: {{ school.address }}</p>

                    <p>Телефоны:</p>

                    {% if school.phones|length > 0 %}
                        <ul>
                            {% for phone in school.phones %}
                                <li>{{ phone.number }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </blockquote>
            </article>
        {% endfor %}
    </section>
{% endblock %}
