{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block content %}
    <h1>Schools</h1>

    {% for school in schools %}
        <div class="clearfix">
            {% thumbnail school.image, "medium" with {class: "pull-left"} %}

            <h3><a href="{{ path("rithis_becrussia_school_get", {slug: school.slug}) }}">{{ school.title }}</a></h3>

            <p>{{ school.address }}</p>

            <p>{{ school.phones|join(', ') }}</p>
        </div>

        {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}
