{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <section class="article">
        <header>
            <h2>Контакты</h2>
        </header>

        <article>
            <p>Телефоны:</p>

            {% if school.phones|length > 0 %}
                <ul>
                    {% for phone in school.phones %}
                        <li>{{ phone.number }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>Адрес: {{ school.address }}</p>

            <div class="map" data-element="map" data-address="{{ school.town }} {{ school.address }}"></div>
        </article>
    </section>
{% endblock %}
