{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <section class="article">
        <header>
            <h2>Скидки</h2>
        </header>

        <article>{{ school.discounts|raw }}</article>
    </section>
{% endblock %}
