{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <div class="title">Скидки<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    {{ school.discounts|raw }}
{% endblock %}
