{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <section class="article">
        <header>
            <h2>О школе</h2>
        </header>

        <article>
            <figure>
                {% thumbnail school.image, "big" %}
            </figure>

            {{ school.about|raw }}
        </article>
    </section>
{% endblock %}
