{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <div class="title">Расписание<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"></div>

    <table>
        {% for row in school.schedule %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
