{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <section class="article list list-with-figure">
        <header>
            <h2>Преподаватели</h2>
        </header>

        {% for teacher in school.teachers %}
            <article>
                <figure>
                    {% thumbnail teacher.image, "medium" %}
                </figure>

                <header>
                    <h2>{{ teacher.name }}</h2>
                </header>

                {{ teacher.description|raw }}
            </article>
        {% endfor %}
    </section>
{% endblock %}
