{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="title">{{ news.title }}<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    <div style="float: left; margin: 0 10px 10px 0">
        {% thumbnail news.image, "big" %}
    </div>

    <font class="news_date">{{ news.createdAt|date('d.m.Y') }}</font><br>

    {{ news.description|raw }}
{% endblock %}
