{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <section class="article news-item">
        <header>
            <p class="news-item-created-at">{{ news.createdAt|date('d.m.Y') }}</p>

            <h1>{{ news.title }}</h1>
        </header>

        <article>
            <figure>
                {% thumbnail news.image, "big" with {class: "pull-left"} %}
            </figure>

            {{ news.description|raw }}
        </article>
    </section>
{% endblock %}
