{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="clearfix">
        <h1>{{ news.title }} <small>{{ news.createdAt|date('d.m.Y') }}</small></h1>
        <hr>
        <img src="/_placeholder/220" alt="" class="pull-left">
        <p>{{ news.description }}</p>
    </div>
{% endblock %}
