{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block subscribe_email_value email %}

{% block content %}
<section class="article">
    <header>
        <h1>Результаты подписки</h1>
    </header>

    {% if success %}
        <p>Вы успешно подписаны на рассылку!</p>
    {% else %}
        <p>Произошла проблема при подписке, побробуйте еще раз.</p>
    {% endif %}
</section>
{% endblock %}
